:root {
  --color-bg: #3A4042;
  --color-bg-edge: #FFFCEE;
  
  --color-board-bg: #7C5E99;
  --color-board-bg-status: #62C370;
  
  --color-card-bg-back: #051932;
  --color-card-bg-front: #F25A70;

  --color-txt-player: #FFFCEE;
}