html, body {
    background-color: var(--color-bg);
    height: 100%;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--color-board-bg);
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}