.card-front-back {
    cursor: pointer;
    height: var(--size-card-height);
    position: relative;
    transform-origin: center right;
    transform-style: preserve-3d;
    transition: transform 800ms cubic-bezier(0.39, 0.575, 0.565, 1) ;
    width: var(--size-card-width);
}

.card-front-back.-active {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-front-back > .card.-front > .card-game,
.card-front-back > .card.-back > .card-game {
    position: absolute;
    backface-visibility: hidden;
    background-color: var(--color-card-bg-back);  
}