:root {
  /*colors*/
  --bg: #3A4042;
  --bg-edge: #FFFCEE;
  
  --board-bg: #7C5E99;
  --board-bg-status: #62C370;
  
  --card-bg-back: #051932;
  --card-bg-front: #F25A70;

  --txt-player: #FFFCEE;
  /*colors*/

  background-color: var(--bg);
}